<div class="product-list">
  <h1 style="font-size:28px;color: crimson;font-family: 'Times New Roman', Times, serif;text-align:center;">Welcome to seller's dashboard</h1>



  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>General</th>
        <th>performace</th>
        <th>Display</th>
        <th>Camera</th>
        <th>Battery</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{ item.image }}" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.general }}</td>
        <td>{{ item.performance }}</td>
        <td>{{ item.display }}</td>
        <td>{{ item.Camera }}</td>
        <td>{{ item.Battery }}</td>

        <td>{{item.Stock}}</td>

         <td> <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
          <a class="adjust-update-link" routerLink="/updateproduct/{{item.id}}">
          <fa-icon  [icon]="iconEdit"></fa-icon></a>

</td>
      </tr>
    </tbody>
  </table>

</div>
